[Unit]
Description=docker compose of all usenet services

[Service]
Restart=on-failure
WorkingDirectory=/opt/gce-usenet

ExecStartPre=-/bin/umount .cache
ExecStartPre=/bin/mount /dev/md6 /opt/gce-usenet/.cache
ExecStartPre=-/usr/bin/docker-compose pull
ExecStartPre=-/usr/bin/docker-compose build
ExecStartPre=-/bin/umount .drive
ExecStart=/usr/bin/docker-compose up
ExecStop=-/usr/bin/docker-compose down
ExecStop=-/usr/bin/docker-compose stop
ExecStop=-/usr/bin/docker-compose rm
ExecStopPost=-/bin/umount .drive
ExecStopPost=-/bin/umount .cache

[Install]
WantedBy=multi-user.target
