[Unit]
Description=docker compose of all usenet services
Requires=data.mount
After=data.mount

[Service]
Restart=on-failure
WorkingDirectory=/data/gce-usenet

ExecStartPre=-/bin/git pull
ExecStartPre=-/opt/bin/docker-compose pull
ExecStartPre=-/opt/bin/docker-compose build
ExecStartPre=-/bin/umount .drive
ExecStart=-/opt/bin/docker-compose up
ExecStop=-/opt/bin/docker-compose down
ExecStopPost=-/bin/umount .drive

[Install]
WantedBy=multi-user.target
